<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/170b4803-3162-4a3b-814c-788d0a29ee06/resourcegroups/ShopSecondHand20221030223338ResourceGroup/providers/Microsoft.Web/sites/ShopSecondHandfptu</ResourceId>
    <ResourceGroup>ShopSecondHand20221030223338ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/170b4803-3162-4a3b-814c-788d0a29ee06/resourceGroups/ShopSecondHand20221030223338ResourceGroup/providers/Microsoft.ApiManagement/service/ShopSecondHandapi/apis/ShopSecondHand</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://shopsecondhandfptu.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>203a3172-4cae-4596-9b0e-91b0151e4326</ProjectGuid>
    <MSDeployServiceURL>shopsecondhandfptu.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ShopSecondHandfptu</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ShopSecondHandfptu</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net5.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>